<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS4"
    gamePrice="R$199,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS5"
    gamePrice="R$299,90"
  ></app-card>
  <app-card
  gameCover="assets/ac-cover.jpg"
  gameLabel="DIGITAL"
  gameType="DIGITAL | PS4 PS5"
  gamePrice="R$89,90"
></app-card>
<app-card
  gameCover="assets/bt-5.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DIGITAL | PS3 PS4 PS5"
  gamePrice="R$99,90"
></app-card>
<app-card
  gameCover="assets/bt-hardline.jpg"
  gameLabel="BEST OF YEAR"
  gameType="DIGITAL | PS3 PS4 PS5"
  gamePrice="R$99,90"
></app-card>
</div>
